* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 165, 50, 1);
}

h1 {
  margin: 0 auto;
  font-family: "Dancing Script", cursive;
}

.header {
  /* color: rgba(255, 165, 50, 1); */
  text-align: center;
  padding: 10px;
  justify-items: center;
  background-image: url(../fire.png);
}

.container {
  display: flex;
  background-color: rgba(255, 165, 50, 1);
}

.left-side {
  display: flex;
  width: 7%;
  height: 100vh;
  flex-grow: 2;
  flex-wrap: wrap;
  flex-direction: column;
}

.mordor {
  display: flex;
  width: 12.5%;
  height: fit-content;
  position: fixed;
}

.main {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  width: 75%;
  height: 100vh;
  flex-grow: 5;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 10vh;
  left: 0;
  font-size: 25px;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 10vh;
  background-color: rgba(255, 170, 55, 1);
  justify-content: space-between;
  align-items: center;
}

.navlink {
  text-decoration: none;
  margin: 10px 20px;
  color: black;
}

.navlink:hover {
  transform: scale(1.2);
}

.register {
  margin-left: auto;
}

.titletext {
  font-size: 50px;
  margin: 0;
  padding: 10px;
}

.contactbox h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

li {
  list-style-type: none;
  font-size: 20px;
  padding: 20px;
}

button {
  background-color: rgb(5, 44, 86);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}

.sosyal-medya {
  display: inline-flex;
  width: 30vw;
  text-align: start;
  margin-top: 20px;
}
.sosyal-medya a {
  display: inline-block;
  margin: 10px;
  font-size: 30px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}
.sosyal-medya a:hover {
  color: #007bff;
}

span {
  font-style: italic;
  font-weight: bolder;
}

.hamburger {
  display: none;
  font-size: 30px;
}

#menu-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    margin-left: auto;
    color: white;
  }

  .titletext {
    margin: 0 0 10px 0;
    font-size: 30px;
    text-align: center;
  }

  .nav {
    height: 5vh;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .navbar a {
    display: block;
    font-size: 24px;
    padding: 15px;
    color: white;
  }

  #menu-toggle:checked ~ .navbar {
    transform: translateY(0);
  }

  #menu-toggle:checked ~ .navbar a {
    display: block;
  }

  #menu-toggle {
    display: none;
  }

  .mordor {
    width: 25%;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  .sosyal-medya a {
    display: inline-flex;
    text-align: center;
    font-size: 20px;
    margin: 5px;
  }

  .register {
    margin: 0;
  }
}
